
@{
    ViewBag.Title = "GameCatalogTemp";
}

<div>
    <div class="col-xs-3 catpad">
        <a href='@Url.Action("Dota2", "Test")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/dota2Click.jpg")' alt="Dota 2"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/oriClick.jpg")' alt="Ori and the Blind Forest"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/bloodOnClick.jpg")' alt="Bloodborne"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/ff15Click.jpg")' alt="Final Fantasy 14"></a>
    </div>
</div>

<div>
    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/ds2Click.jpg")' alt="Dark Souls II"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/LolClick.jpg")' alt="League of Legends"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/MKXClick.jpg")' alt="Mortal Kombat X"></a>
    </div>

    <div class="col-xs-3 catpad">
        <a href='@Url.Action("GameCatalogTemp", "Home")'><img class="img-rounded img-responsive" src='@Url.Content("~/Images/Catalog/lozmmClick.jpg")' alt="The Legend of Zelda: Majora's Mask 3D'"></a>
    </div>
</div>